.container-fluid{
  background-color: rgba(33,37,41);
  text-align: center;
}

.row{
  padding: 2rem;
}

#profile{
  border-radius: 100%;
}

#name{
  color: white;
  font-weight: bold;
  font-size: 2rem;

  margin-top: 2.8rem;
}

#title{
  color: white;
  font-weight: bold;
  text-decoration: underline;
  font-size: 2rem;

  margin-top: 2.8rem;
}

p{
  color: white;
  font-size: 1.5rem;
}
