<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-2">  
      <img class="img-fluid" id="profile" src="../../../assets/Profile/me.jpg" alt="profile">
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-2">
      <h3 id="name">{{persona.nombre}} {{persona.apellido}}</h3>
      <p>Full-Stack Developer Jr.</p>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
      <span>
        <h1 id="title">About me</h1>
        <p>Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat.</p>
      </span>
    </div>
  </div>
</div>
