<!-- Footer -->
<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn m-1" href="#">
        <img class="img img-fluid" src="../../../assets/Logos proyecto/facebook.png" alt="facebook-logo">
      </a>

      <!-- Instagram -->
      <a class="btn m-1" href="#">
        <img class="img img-fluid" src="../../../assets/Logos proyecto/instagram.png" alt="instagram-logo">
      </a>

      <!-- Linkedin -->
      <a class="btn m-1" href="#">
        <img class="img img-fluid" src="../../../assets/Logos proyecto/linkedin.png" alt="linkedin-logo">
      </a>

      <!-- Github -->
      <a class="btn m-1" href="#">
        <img class="img img-fluid" src="../../../assets/Logos proyecto/github.png" alt="github-logo">
      </a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 Copyright:
    <a class="text-white" href="https://github.com/GabyDs">Gabriel da Silva</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
