.container-fluid{
  background-color: rgba(33,37,41);
}

.row{
  margin: 0;
  padding: 2rem;
  border-bottom: solid white;
}

.container{
  width: auto;
}

.project-header, .project-image{
  display: inline-block;
  text-align: justify;
}

#title{
  color: white;
  font-weight: bold;
  text-decoration: underline;
  font-size: 2rem;
}

h1, p{
  color: white;
  font-size: 1.5rem;
}

.img{
  box-shadow: 10px 10px 30px black;
}
