<div class="container-fluid">
  <div class="row">
    <h1 id="title">Projects</h1>
    <div class="container">
      <div class="col-sm-12 col-md-7 col-lg-7 project-header">
        <h1>Cross Method App</h1>
        <p>Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat.</p>
      </div>
      <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 project-image">
        <img class="img img-fluid" src="../../../assets/projects/cross-method.jpg" alt="project"> 
      </div>
    </div>
    <div class="container">
      <div class="col-sm-12 col-md-7 col-lg-7 project-header">
        <h1>Cross Method App</h1>
        <p>Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat.</p>
      </div>
      <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 project-image">
        <img class="img img-fluid" src="../../../assets/projects/cross-method.jpg" alt="project"> 
      </div>
    </div>
  </div>
</div>
