<div class="container-fluid">
  <div class="row">
    <h1 id="title">Hard and Soft Skills</h1> 
    <div class="col-lg-3">
      <span>HTML</span>
      <div class="progress" role="progressbar" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar progress-bar-striped" style="width: 85%;"></div>
      </div>
    </div>
    <div class="col-lg-3">
      <span>CSS</span>
      <div class="progress" role="progressbar" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar progress-bar-striped" style="width: 65%;"></div>
      </div>
    </div>
    <div class="col-lg-3">
      <span>Javascript</span>
      <div class="progress" role="progressbar" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar progress-bar-striped" style="width: 45%;"></div>
      </div>
    </div>
    <div class="col-lg-3">
      <span>Angular</span>
      <div class="progress" role="progressbar" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar progress-bar-striped" style="width: 35%;"></div>
      </div>
    </div>
  </div>
</div>
