.container-fluid{
  background-color: rgba(33,37,41);
}

.row{
  margin: 0;
  padding: 2rem;
  border-bottom: solid white;
}

ul{
  list-style-type: none;
}

#title{
  color: white;
  font-weight: bold;
  text-decoration: underline;
  font-size: 2rem;
}

h1, h3{
 display: inline; 
}

h1, h3, p{
  color: white;
  font-size: 1.5rem;
}
