<!--Navigation bar-->
<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <!--Button to smallest breakpoint-->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!--Item list-->
    <div class="collapse navbar-collapse" id="navbarToggler">
      <img src="../../../assets/Logos proyecto/APLogo.png" alt="logoAP" class="img img-fluid" id="ap-logo">
      <a class="navbar-brand disabled">Yo Programo</a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Experience</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Projects</a>
        </li>
      </ul>
      <!--Login button-->
      <button class="btn btn-outline-light">Login</button>
    </div>
  </div>
</nav>
