<div class="container-fluid">
  <div class="row">
    <h1 id="title">Experience</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
      <ul>
        <li>
          <h1>Work 1</h1>
          <h3>(years)</h3>
        </li>
        <p>
          Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat.
        </p>
      </ul>
      <ul>
        <li>
          <h1>Work 2</h1>
          <h3>(years)</h3>
        </li>
        <p>
          Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat.
        </p>
      </ul>
      <ul>
        <li>
          <h1>Work 3</h1>
          <h3>(years)</h3>
        </li>
        <p>
          Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat.
        </p>
      </ul>
    </div>
  </div>
</div>
